<style>
.instagram{
    border: solid 1px white;
    width: 7%;
    height: 40%;
    float:right;
<<<<<<< HEAD
    margin-left: 87.8%;
    background-image: url('planoimg.jpg');
=======
    margin-right: 5%;
>>>>>>> backend
    background: no-repeat center;
    position:absolute;
}
</style>


<<<<<<< HEAD
<div class="instagram">  
   <h3 style="margin-top: 35px"> Imagem para instagram</h3>           
</div>
=======
<a href="https://www.instagram.com.br"><div class="instagram" style="background-image: url('../images/instagram.jpg')">  
          
</div></a>
>>>>>>> backend
