<style>
.instagram{
    border: solid 1px white;
    width: 7%;
    height: 40%;
    float:right;
    margin-right: 5%;
    background: no-repeat center;
}
</style>


<a href="https://www.instagram.com.br"><div class="instagram" style="background-image: url('../images/instagram.jpg')">  
          
</div></a>