<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./includes/header.ejs %>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>Alugar</title>
</head>
<script>
    var procedencia = 'null';
    function setProc(proc) {
        procedencia = proc;
    }
    function spawnCard(imovel,divResult) {
        function UrlExists(url) {
            var http = new XMLHttpRequest();
            http.open('HEAD', url, false);
            http.send();
            return http.status != 404;
        }
        var url = 'img/' + imovel._id + '/' + 'thumb.jpg'
        if(!(UrlExists(url))) {
            url = 'img/default/thumb.jpg'
        }
        var titulo = imovel.titulo;
        var valor = "R$" + imovel.valor;
        var dormitorios = "&nbsp";
        var suites = "";
        var banheiros = "";
        var vagas = "";
        var iptu = "&nbsp";
        var cond = "&nbsp";
        if (imovel.dormitorios !== null && imovel.dormitorios !== undefined) {
            dormitorios = "<i class='fa fa-bed' data-toggle='tooltip' title='Dormitórios'></i>   " + imovel.dormitorios + "&nbsp;&nbsp;&nbsp;";
        }
        if (imovel.suites !== null && imovel.suites !== undefined) {
            suites = "<i class='fa fa-bed' data-toggle='tooltip' title='Suítes'></i>   " + imovel.suites + "&nbsp;&nbsp;&nbsp;";
        }
        if (imovel.banheiros !== null && imovel.banheiros !== undefined) {
            banheiros = "<i class='fa fa-shower' data-toggle='tooltip' title='Banheiros'></i>   " + imovel.banheiros + "&nbsp;&nbsp;&nbsp;";
        }
        if (imovel.vagas !== null && imovel.vagas !== undefined) {
            vagas = "<i class='fa fa-car' data-toggle='tooltip' title='Vagas'></i>   " + imovel.vagas + "&nbsp;&nbsp;&nbsp;";
        }
        if (imovel.iptu !== null && imovel.iptu !== undefined) {
            iptu = "IPTU: R$" + imovel.iptu;
        }
        if (imovel.condominio !== null && imovel.condominio !== undefined) {
            cond = "COND: R$" + imovel.condominio;
        }
        var card = "<div class='col-sm-3'>" +
                   "<div class='card'>" + 
                   "<img class='card-img-top img-fluid' src='" + url + "' alt='Card image cap'>" +
                   "<div class='card-body'>" +
                   "<h4 class='card-title'><a href='/alugueis/" + imovel._id + "'>" + titulo + "</a></h4>" +
                   "<h5 class='card-title'><a>" + valor + "</a></h4>" +
                   "<p class='card-text'>" + dormitorios + suites + banheiros + vagas + "</p>" +
                   "</div>";
        $(divResult).append(card);
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    }
    function search() {
        $('#pesquisa h1').css('display','block');
        var tipo = $('#select_tipo').val();
        var bairro = $('#select_bairro').val();
        var valorMin = $('#select_valor_min').val();
        var valorMax = $('#select_valor_max').val();
        if(valorMin === '') valorMin = 0;
        if(valorMax === '') valorMax = 0;
        $('#searchResults').empty();
        $.getJSON('/search/alugueis/' + procedencia + '&' + tipo + '&' + bairro + '&' + valorMin + '&' + valorMax, function(jq) {
            for(var i = 0; i < jq.length; i++) {
                spawnCard(jq[i],'#searchResults');
            }
        });
    }
    function searchAll() {
        $('#pesquisa h1').css('display','block');
        $('#searchResults').empty();
        $.getJSON('/search/alugueis/all', function(jq) {
            for(var i = 0; i < jq.length; i++) {
                spawnCard(jq[i],'#searchResults');
            }
        });
    }
    function searchDestaques() {
        $('#destaquesResults').empty();
        $.getJSON('/search/alugueis/destaques', function(jq) {
            for(var i = 0; i < jq.length; i++) {
                spawnCard(jq[i],'#destaquesResults');
            }
        });
    }
    function searchOportunidades() {
        $('#oportunidadesResults').empty();
        $.getJSON('/search/alugueis/oportunidades', function(jq) {
            if (jq.length == 0) {
                $('#oportunidades').css('display','none');
            } else {
                $('#oportunidadesResults').removeAttr('display');
                for(var i = 0; i < jq.length; i++) {
                    spawnCard(jq[i],'#oportunidadesResults');
                }
            }
        });
    }
    function searchBox(objButton) {
        if($('.submenu').css('display','none')){
            $('.submenu').css('display','contents');
            $('#searchBox').html(objButton.innerText);
            $('#menu button').css('color','#000000');
            $(objButton).css('color','#87ceea');
        }
    }
    $(document).ready(function() {
        $('#pesquisa h1').css('display','none');
        $('[data-toggle="tooltip"]').tooltip();
        searchDestaques();
        searchOportunidades();
        $(".radioGroup").click(function () {
            $(".radioGroup").removeClass("active");
            $(this).addClass("active");
            procedencia = event.target.id;
        });
    });
</script>
<style>
    #header .title-alugueis h2 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
    }
    #header .title-alugueis .title {
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
        background-color: #dcdcdc;
        padding: 0 10px;
    }
    .span-gray {
        background-color: #bababa;
        font-size: 20px;
        text-align: center;
        padding: 5px 30px;
    }   
    #menu button {
        background-color: #87ceea;
        float:right;    
        border: 2px solid #fff;
    }
    .submenu {
        width: 100%;
        margin: 0;
    }
    .submenu .form-control {
        margin-top: 20px;
    }

    #searchResults {
        margin: 0 auto;
    }
</style>
<body>

    <!-- CONTENT WRAPER -->
    <div id="content-wraper">
        <!-- CONTAINER FLUID -->
        <div class="container-fluid">

            <!--HEADER-->
            <div id="header" class="row">
                <div class="col-1">
                    <div id="logotopo" align="left">
                            <a href="/"><img class="fundologo" src="images/plano.png"></a>
                    </div>
                </div>
                <div class="col-11">
                    <div class="row justify-content-center">
                        <nav class="nav" id="menu-top">
                            <a class="nav-link" href="#">Quem somos</a>
                            <a class="nav-link" href="#">Nossa franquia virtual</a>
                            <a class="nav-link" href="#">Seja nosso corretor associado</a>
                        </nav>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-9 title-alugueis">
                            <h2><span class="title">Locação</span></h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="span-gray">
                            Faça aqui sua opção de locação
                        </div>
                    </div>
                </div>
            </div>
            <!--END HEADER-->

            <div class="row" id="menu">
                <div class="row submenu vertical-align">
                    <div class="col-2">
                        <a href="/alugueisr" class="btn" style="color: #000!important; width: 100%; background:linear-gradient(to bottom, transparent , #ffa621 ,transparent);">
                            <b>Imóveis</b><br/>
                            <b>Comerciais</b>
                        </a>
                    </div>
                    <div class="col-2">
                        <select name="tipo" class="form-control" id="select_tipo" width="30px">
                            <option value="null" selected>Tipo de Imóvel</option>
                            <option value="apartamento">Apartamento</option>
                            <option value="casa">Casa</option>
                            <option value="casa em condominio">Casa em Condomínio</option>
                            <option value="chacara">Chácara</option>
                            <option value="cobertura">Cobertura</option>
                            <option value="empreendimento">Empreendimento</option>
                            <option value="fazenda">Fazenda</option>
                            <option value="flat">Flat</option>
                            <option value="galpao">Galpão</option>
                            <option value="garagem">Garagem</option>
                            <option value="kitinete">Kitinete</option>
                            <option value="loja">Loja</option>
                            <option value="predio comercial">Prédio Comercial</option>
                            <option value="sala comercial">Sala Comercial</option>
                            <option value="salas conjuntos">Salas/Conjuntos</option>
                            <option value="terreno">Terreno</option>
                            <option value="outros">Outros</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select name="bairro" class="form-control" id="select_bairro">
                            <option value="null" selected>Bairro</option>
                            <option value="aguas claras">Aguas Claras</option>
                            <option value="asa norte">Asa Norte</option>
                            <option value="asa sul">Asa Sul</option>
                            <option value="brazlandia">Brazlândia</option>
                            <option value="ceilandia">Ceilândia</option>
                            <option value="centro">Centro</option>
                            <option value="cruzeiro">Cruzeiro</option>
                            <option value="cruzeiro novo">Cruzeiro Novo</option>
                            <option value="lago norte">Lago Norte</option>
                            <option value="lago sul">Lago Sul</option>
                            <option value="ponta negra">Ponta Negra</option>
                            <option value="samambaia">Samambaia</option>
                            <option value="samambaia norte">Samambaia Norte</option>
                            <option value="apartamento">Apartamento</option>
                            <option value="santa maria">Santa Maria</option>
                            <option value="shin">Setor de Habitações Individuais Norte</option>
                            <option value="apartamento">Apartamento</option>
                            <option value="smpw">Setor de Mansões Park Way</option>
                            <option value="setor fumal">Setor Fumal</option>
                            <option value="shvp">Setor Habitacional Vincente Pires</option>
                            <option value="noroeste">Setor Noroeste</option>
                            <option value="sudoeste">Setor Sudoeste</option>
                            <option value="sig">SIG</option>
                            <option value="sobradinho">Sobradinho</option>
                            <option value="taguatinga">Taguatinga</option>
                            <option value="vicente pires">Vicente Pires</option>
                            <option value="vila planalto">Vila Planalto</option>
                            <option value="zona industrial">Zona Industrial</option>
                        </select>
                        <br/>
                    </div>
                    <div class="col-1">
                        <select name="valorMin" class="form-control" id="select_valor_min">
                            <option value="null" selected>Valor Mín.</option>
                            <option value="200">R$ 200.000</option>
                            <option value="400">R$ 400.000</option>
                            <option value="750">R$ 750.000</option>
                            <option value="1000">R$ 1.000.000</option>
                            <option value="2000">R$ 2.000.000</option>
                            <option value="5000">R$ 5.000.000</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <select name="valorMax" class="form-control" id="select_valor_max">
                            <option value="null" selected>Valor Max.</option>
                            <option value="200">R$ 200.000</option>
                            <option value="400">R$ 400.000</option>
                            <option value="750">R$ 750.000</option>
                            <option value="1000">R$ 1.000.000</option>
                            <option value="2000">R$ 2.000.000</option>
                            <option value="5000">R$ 5.000.000</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <button type="button" id="btn_pesquisar" onclick="searchAll();">Todos</button>
                    </div>
                    <div class="col-1">
                        <button type="button" id="btn_pesquisar" onclick="search();">Buscar</button>
                    </div>
                </div>

                <div class="col-12" style="margin-left:4%">
                    <div class="row justify-content-center">
                        <div class="span-gray">
                            Buscador integrado com Google maps
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" id="conteudo">
                <div class="col-12" id="destaques">
                    <h1 align="center">Destaques de Alugueis</h1>
                    <div class="row" id="destaquesResults"></div>
                </div>
                
                <div class="col-12" id="oportunidades">
                    <h1 align="center">Oportunidades</h1>
                    <div class="row" id="oportunidadesResults"></div>
                </div>
                
                <div class="col-12" id="pesquisa">
                    <h1 align="center">Resultados da Pesquisa</h1>
                    <div class="row" id="searchResults"></div>
                </div>
            </div>

        </div>
        <!-- END CONTAINER FLUID -->
    </div>
    <!-- END CONTENT WRAPER -->


</body>
</html>