<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./includes/header.ejs %>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>Anunciar Imóvel</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<script>
    var procedencia = 'null';
    function setProc(proc) {
        procedencia = proc;
        console.log(procedencia);
    }
    function spawnCard(imovel) {
        function UrlExists(url) {
            var http = new XMLHttpRequest();
            http.open('HEAD', url, false);
            http.send();
            return http.status != 404;
        }
        var url = 'img/' + imovel._id + '/' + 'thumb.jpg'
        if(!(UrlExists(url))) {
            url = 'img/default/thumb.jpg'
        }
        var titulo = imovel.titulo;
        var valor = "R$" + imovel.valor
        var dormitorios = "&nbsp";
        var suites = "";
        var banheiros = "";
        var vagas = "";
        var iptu = "&nbsp";
        var cond = "&nbsp";
        if (imovel.dormitorios !== null && imovel.dormitorios !== undefined) {
            dormitorios = "<i class='fa fa-bed' data-toggle='tooltip' title='Dormitórios'></i>   " + imovel.dormitorios + "&nbsp;&nbsp;&nbsp;";
        }
        if (imovel.suites !== null && imovel.suites !== undefined) {
            suites = "<i class='fa fa-bed' data-toggle='tooltip' title='Suítes'></i>   " + imovel.suites + "&nbsp;&nbsp;&nbsp;";
        }
        if (imovel.banheiros !== null && imovel.banheiros !== undefined) {
            banheiros = "<i class='fa fa-shower' data-toggle='tooltip' title='Banheiros'></i>   " + imovel.banheiros + "&nbsp;&nbsp;&nbsp;";
        }
        if (imovel.vagas !== null && imovel.vagas !== undefined) {
            vagas = "<i class='fa fa-car' data-toggle='tooltip' title='Vagas'></i>   " + imovel.vagas + "&nbsp;&nbsp;&nbsp;";
        }
        if (imovel.iptu !== null && imovel.iptu !== undefined) {
            iptu = "IPTU: R$" + imovel.iptu;
        }
        if (imovel.condominio !== null && imovel.condominio !== undefined) {
            cond = "COND: R$" + imovel.condominio;
        }
        var card = "<div class='card' style='margin:5px'>" + 
                   "<img class='card-img-top' src='" + url + "' alt='Card image cap'>" +
                   "<div class='card-body'>" +
                   "<h4 class='card-title'><a>" + titulo + "</a></h4>" +
                   "<h5 class='card-title'><a>" + valor + "</a></h4>" +
                   "<p class='card-text'>" + dormitorios + suites + banheiros + vagas + "</p>" +
                   "</div>";
        $('#searchResults').append(card);
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
            
        });
    }
    function search() {
        var tipo = $('#select_tipo').val();
        var bairro = $('#select_bairro').val();
        var preco = $('#number_preco').val();
        if(preco === '') preco = "null"
        console.log('Pesquisa recebida: ' + tipo + ' ' + bairro + ' ' + preco);
        $('#searchResults').empty();
        $.getJSON('/search/alugueis/' + tipo + '&' + bairro + '&' + preco, function(jq) {
            for(var i = 0; i < jq.length; i++) {
                console.log(jq[i]);
                spawnCard(jq[i]);
            }
        });
    }

    function searchDestaques() {
        $('#searchResults').empty();
        $.getJSON('/search/alugueis/destaques', function(jq) {
            for(var i = 0; i < jq.length; i++) {
                console.log(jq[i]);
                spawnCard(jq[i]);
            }
        });
    }

    function searchOportunidades() {
        $('#searchResults').empty();
        $.getJSON('/search/alugueis/oportunidades', function(jq) {
            for(var i = 0; i < jq.length; i++) {
                console.log(jq[i]);
                spawnCard(jq[i]);
            }
        });
    }
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
        searchDestaques();
        searchOportunidades();
        $(".radioGroup").click(function () {
            $(".radioGroup").removeClass("active");
            $(this).addClass("active");
            procedencia = event.target.id;
            search();
            
        });
    });
</script>
<% include includes/anunciarCSS.ejs %>
</head>
<div id="wrapper" class="area-anuncie area-logado area-corretor">

<!-- <div class="box-featured">
    <div class="carrocel">
        <ul class="carrocelImages">
            <li><img src="/media/images/anuncie-seu-imovel/01.jpg" alt=""></li>
        </ul>
    </div>
    <h2 data-fixed="Plano Imóveis">Plano Imóveis</h2>
</div>
-->

<div class="container menuAnuncie-fix" id="container">

    <div class="nav-tabs">
        <ul>
            <li><a href="#anuncie" class="bt3 active">Anuncie seu imóvel</a></li>
            <li><a href="#visibilidade" class="bt1">Visibilidade</a></li>
            <li><a href="#anunciar-exclusivamente" class="bt2 ">Por que anunciar conosco?</a></li>
        </ul>
        <span class="seta"></span>
        <div class="clear"></div>
    </div> <!-- /nav-tabs -->



</div> <!-- /container -->

<div id="anuncie" class="gradientBg" name="anuncie">
    <div id="content" class="container">
  <h2>Cadastre o seu imóvel para Venda ou Locação.</h2>
  <p class="textoAnuncie" ><nobr>Este é um pré-cadastro. Ao preencher e enviar o formulário abaixo, em até 24 horas um consultor entrará em contato para melhor atender as suas</nobr> <nobr>necessidades. Todos os campos são de preenchimento obrigatório. </p>
  <div class="newForm">
    <form action="/valida-anuncie-seu-imovel" method="post" data-validate="true" name="anuncieSeuImovel">
        <h1 style="margin-left:5%">Dados do Proprietário Anunciante </h1><br/><br/>
      <ul>
        <li class="nome">
          <label class="label" for="nome">Nome</label>
          <input type="text" data-required="true" name="nome" id="nome" data-required="true" value="" />
        </li>
        <li class="email">
          <label class="label" for="email">E-mail</label>
          <input type="text" data-required="true" name="email" id="email" data-required="true" value="" />
        </li>
        <li class="telefone1">
          <label class="label" for="telefone1">Telefone 1</label>
          <input type="text" data-required="true" data-mask="phone" name="telefone1" id="telefone1"  value="" data-required="true" class="menor" />
        </li>
        <li class="telefone2">
          <label class="label" for="telefone2">Telefone 2</label>
          <input type="text" data-required="true" data-mask="phone" name="telefone2" id="telefone2" value="" data-required="true" class="menor" />
        </li>
        <h1 style="margin-left:6%">Dados do Imóvel a ser Anunciado</h1><br/>
        <li class="cep">
          <label class="label" for="cep">CEP</label>
          <input type="text" data-required="true" data-mask="cep" name="cep" id="cep" value="" data-required="true" class="menor" />
        </li>
        <li class="endereco">
          <label class="label" for="endereco">Endereço</label>
          <input type="text" data-required="true" name="endereco" id="endereco" value="" data-required="true" readonly="readonly" />
        </li>
        <li class="numero">
          <label class="label" for="numero">Número</label>
          <input type="text" name="numero" id="numero" data-required="true" value="" class="menor" />
        </li>
        <li class="bairro">
          <label class="label" for="bairro">Bairro</label>
          <input type="text" data-required="true" name="bairro" id="bairro" value="" data-required="true" readonly="readonly" />
        </li>
        <li class="cidade">
          <label class="label" for="cidade">Cidade</label>
          <input type="text" name="cidade" id="cidade" data-required="true" value="" readonly="readonly" />
        </li>
        <li align="center">
          <label class="label" for="cidade">Tipo de Comercialização</label><br/>
          <input type="checkbox" name="comercializacao_venda" value="1" style="margin-left:3%">&nbsp;&nbsp;Venda
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="checkbox" name="comercializacao_locacao" value="1">&nbsp;&nbsp;Locação
        </li>
        <li class="submit">
            <button type="button" class="" id="btn_pesquisar" onclick="search();" style="height: 43px;width: 100px;margin-left:40%">Buscar</button><br/><br/><br/>
        </li>

      </ul>
    </form>
  </div>
</div> <!-- /container -->
</div> <!-- /visibilidade -->

<div id="visibilidade" class="gradientBg">

    <!-- TODO deixar as caixas todas do mesmo tamanho
        Aguardando conversa com o cliente a respeito do texto -->

    <div class="container">
        <h2 class="titulo"><b>VEJA VANTAGENS DE ANUNCIAR SEU IMÓVEL NA PLANO IMÓVEIS</b></h2>
        <!-- <h2>Visibilidade</h2> -->
    </div> <!-- /container -->

    <div class="thumbsGeral" style="margin-left:30.5%">

        <div class="combosThumb">
            <p class="tituloThumb sites">
                Site Plano<br/> Imóveis
<!--                    <img src="img/anuncie/img-Site.png" alt=""> -->
            </p>
            <p class="descricaoThumb">
                Prático, moderno, eficiente e rápido.<br/>
                Além de apresentar os imóveis em<br/>
                fotos, tudo foi<br/>
                feito para você ter a melhor<br/>
                experiência possível conosco!
            </p>
        </div>

        <div class="combosThumb">
            <p class="tituloThumb redesSociais">
                Redes<br/> Sociais
<!--                    <img src="img/anuncie/img-Site.png" alt=""> -->
            </p>
            <p class="descricaoThumb">
                Presença nas redes sociais<br/>
                Facebook, Instagram, Twitter, Google+<br/>
                e canal exclusivo no Youtube.<br/>
            </p>
        </div>

        <div class="combosThumb">
            <p class="tituloThumb Mobile">
                Celular
<!--                    <img src="img/anuncie/img-Site.png" alt=""> -->
            </p>
            <p class="descricaoThumb">
                Todos os detalhes do seu imóvel<br/>
                disponíveis nas mãos dos clientes<br/>
                por meio do nosso exclusivo site<br/>
                móvel e aplicativos para as<br/>
                plataformas iOS (Apple) e Android.
            </p>
        </div>
    </div>
    <div class="thumbsGeral" style="width: 740px;overflow: hidden;">
        <div class="combosThumb">
            <p class="tituloThumb Mailing">
                Mailing
<!--                    <img src="img/anuncie/img-Site.png" alt=""> -->
            </p>
            <p class="descricaoThumb">
                Seu imóvel será divulgado para<br/>
                um dos mailings mais<br/>
                completos do mercado,<br/>
                composto de um público<br/>
                específico e selecionado.
            </p>
        </div>

        <div class="combosThumb">
            <p class="tituloThumb Midia">
                Destaque<br/>na Mídia
<!--                    <img src="img/anuncie/img-Site.png" alt=""> -->
            </p>
            <p class="descricaoThumb">
                Seu imóvel será anunciado nos jornais<br/>
                de maior circulação de Brasília onde <br/>
                somos um dos
                maiores anunciantes.
            </p>
        </div>

        <div class="combosThumb" style="margin-right: 0px;">
            <p class="tituloThumb Portais">
                Portais<br/>Imobiliários
<!--                    <img src="img/anuncie/img-Site.png" alt=""> -->
            </p>
            <p class="descricaoThumb">
                Seu imóvel poderá ser anunciado em<br/>
                diversos portais imobiliários<br/>
                parceiros, aumentando a chance de<br/>
                comercialização.
            </p>
        </div>

    </div>

</div> <!-- /visibilidade -->



<div id="anunciar-exclusivamente">

        <h2>Por que seu imóvel deve ter<br /> Contrato de Gestão de Comercialização <nobr>Plano Imóveis</nobr>?</h2>

        <div class="motivos" style="margin: 0 auto; width: 780px;">
            <div class="item">
                <% include includes/medalha.ejs %>
                <h4>Profissionalismo<br> e Experiência</h4>
                <p>Você conta com todo<br/> know-how de uma das<br/> maiores e mais<br/> importantes imobiliárias<br/> full service do país.</p>
            </div>
            <div class="item">
                <% include includes/grafico.ejs %>
                <h4>Investidores</h4>
                <p>A <nobr>Plano Imóveis<br/> possui um banco de dados<br/> permanentemente<br/> atualizado, composto<br/> também por proprietários<br/> que possuem imóveis<br/> administrados.</p>
            </div>
            <!-- <div class="item">
                <img src="img/anuncie/itau.png" alt="" class="thumb">
                <h4>Financiamento<br> Itaú</h4>
                <p>A <nobr>Plano Imóveis</nobr> é<br/> correspondente bancário<br/> nacional e internacional do<br/> Banco Itaú. Isso permite um<br/> leque de facilidades para o<br/> cliente que deseja comprar<br/> seu imóvel financiado.</p>
            </div> -->
            <div class="item">
                <% include includes/prancheta.ejs %>
                <h4>Documentação <br>sem custo</h4>
                <p>No momento da assinatura<br/> do instrumento de venda e<br/> sem qualquer custo para o<br/> contratante, a Plano <br/> Imóveis providenciará as<br/> certidões referentes ao<br/> município e comarca da<br/> Capital.</p>
            </div>
            <div class="item noMar" style="width: 150px;">
                <% include includes/cofre.ejs %>
                <h4>Segurança e <br />Privacidade</h4>
                <p>O agendamento de visitas ao<br/> seu imóvel será feito apenas<br/> pelo corretor associado e<br/> gerente responsáveis pelo<br/> atendimento. Você se sente<br/> muito mais seguro na hora<br/> de abrir as portas.</p>
            </div>
            <div class="clear"></div>
        </div> <!-- /motivos -->

    </div> <!-- /anunciar exclusivamente -->
<% include includes/footer.ejs %>

<style>
.new-contact-bar-flutuante{
height: 90px;
background: #fa6d06;
position: fixed;
bottom: 0px;
right: -740px;
z-index: 11;
}

.new-contact-bar-flutuante.fixa {
height: 50px;
position: fixed;
bottom: 0;
z-index: 99999;
}

.new-contact-bar-inside{
width: 930px;
margin: 0 auto;
height: auto;
}

.new-contact-bar-inside ul{
margin: 0;
padding: 0;
overflow: hidden;

display: flex;
justify-content: space-between;
}

.new-contact-bar-inside ul li{
height: 90px;
float: left;
}

.fixa .new-contact-bar-inside ul li {
height: 50px;
}

.new-contact-bar-inside ul li.ico{
background-repeat: no-repeat;
background-position: left center;
text-align: right;
}

.new-contact-bar-inside ul li.ico-phone{
background-image: url("/images/site/ico-phone.png");
width: 190px;
padding-right: 10px;
}

.fixa .new-contact-bar-inside ul li.ico-phone{
width: 195px;
}

.new-contact-bar-inside ul li.ico-visita{
background-image: url("/images/site/ico-visita.png");
width: 110px;
}

.new-contact-bar-inside ul li.ico-whatsapp{
background-image: url("/images/site/ico-whatsapp.png");
width: 140px;
}

.new-contact-bar-inside ul li.ico-email{
background-image: url("/images/site/ico-email.png");
width: 100px;
}

.new-contact-bar-inside ul li.ico-chat{
background-image: url("/images/site/ico-chat.png");
width: 130px;
}

.new-contact-bar-inside ul li.ico-falar-com-corretor{
background-image: url("/images/site/ico-falar-com-corretor.png");
width: 190px;
background-position: center 8px;
text-align: center;
cursor: pointer;
}

.new-contact-bar-inside ul li.ico-fechar-barra{
background-image: url("/images/site/ico-fechar-barra.png");
width: 80px;
background-position: center center;
cursor: pointer;
display: none;
}



.new-contact-bar-inside ul li a{
color: #FFF;
font-family: 'DIN Next W02 Bold';
font-size: 14px;
text-transform: uppercase;
text-decoration: none;
padding-top: 32px;
text-align: left;
display: inline-block;
}

.new-contact-bar-inside ul li.ico-visita a{
padding-top: 28px;
}

.fixa .new-contact-bar-inside ul li.ico-visita a{
padding-top: 8px;
}

.new-contact-bar-inside ul li.ico-email a{
padding-top: 36px;
}

.fixa .new-contact-bar-inside ul li.ico-email a{
padding-top: 0;
line-height: 55px;
}

.new-contact-bar-inside ul li.ico-whatsapp a{
padding-top: 30px;
}

.fixa .new-contact-bar-inside ul li.ico-whatsapp a {
padding-top: 12px;
line-height: 15px;
padding-left: 50px;
}

.new-contact-bar-inside ul li.ico-chat a{
padding-top: 33px;
width: 100%;
padding-left: 60px;
}

.fixa .new-contact-bar-inside ul li.ico-chat a{
padding-top: 30px;
}

.new-contact-bar-inside ul li.ico-phone a{
font-size: 20px;
}

.fixa .new-contact-bar-inside ul li.ico-phone a {
line-height: 50px;
padding-top: 0px;
}

.new-contact-bar-inside ul li.ico-falar-com-corretor a {
padding-top: 45px;
text-align: center;
}

</style>

                                <h2>Por que seu imóvel deve ter<br /> Contrato de Gestão de Comercialização <nobr>Coelho da Fonseca</nobr>?</h2>
                    
                                <div class="motivos" style="margin: 0 auto; width: 780px;">
                                    <div class="item">
                                        <img src="/img/anuncie/profissionalismo.png" alt="" class="thumb">
                                        <h4>Profissionalismo<br> e Experiência</h4>
                                        <p>Você conta com todo<br/> know-how de uma das<br/> maiores e mais<br/> importantes imobiliárias<br/> full service do país.</p>
                                    </div>
                                    <div class="item">
                                        <img src="/img/anuncie/investidores.png" alt="" class="thumb">
                                        <h4>Investidores</h4>
                                        <p>A <nobr>Coelho da Fonseca<br/> possui um banco de dados<br/> permanentemente<br/> atualizado, composto<br/> também por proprietários<br/> que possuem imóveis<br/> administrados.</p>
                                    </div>
                                    <!-- <div class="item">
                                        <img src="img/anuncie/itau.png" alt="" class="thumb">
                                        <h4>Financiamento<br> Itaú</h4>
                                        <p>A <nobr>Coelho da Fonseca</nobr> é<br/> correspondente bancário<br/> nacional e internacional do<br/> Banco Itaú. Isso permite um<br/> leque de facilidades para o<br/> cliente que deseja comprar<br/> seu imóvel financiado.</p>
                                    </div> -->
                                    <div class="item">
                                        <img src="/img/anuncie/documentacao.png" alt="" class="thumb">
                                        <h4>Documentação <br>sem custo</h4>
                                        <p>No momento da assinatura<br/> do instrumento de venda e<br/> sem qualquer custo para o<br/> contratante, a Coelho da<br/> Fonseca providenciará as<br/> certidões referentes ao<br/> município e comarca da<br/> Capital.</p>
                                    </div>
                                    <div class="item noMar" style="width: 150px;">
                                        <img src="/img/anuncie/seguranca.png" alt="" class="thumb">
                                        <h4>Segurança e <br />Privacidade</h4>
                                        <p>O agendamento de visitas ao<br/> seu imóvel será feito apenas<br/> pelo corretor associado e<br/> gerente responsáveis pelo<br/> atendimento. Você se sente<br/> muito mais seguro na hora<br/> de abrir as portas.</p>
                                    </div>
                                    <div class="clear"></div>
                                </div> <!-- /motivos -->
                    
                            </div> <!-- /anunciar exclusivamente -->
                    
                               
                                </body>
                                <script>
                                $(document).ready(function(){ 
    $('#characterLeft').text('140 characters left');
    $('#message').keydown(function () {
        var max = 140;
        var len = $(this).val().length;
        if (len >= max) {
            $('#characterLeft').text('You have reached the limit');
            $('#characterLeft').addClass('red');
            $('#btnSubmit').addClass('disabled');            
        } 
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#btnSubmit').removeClass('disabled');
            $('#characterLeft').removeClass('red');            
        }
    });    
});
</script>
                                </html>